* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-top: 25px;
  font-size: 30px;
  color: #202020;
  text-align: center;
  font-weight: 700;
}

.input {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #202020;
  border-radius: 2px;
  width: 100%;
  height: 200px;
  font-size: 16px;
}

.keyboard {
  padding: 20px;
  background-color: #202020;
  border-radius: 10px;
  font-size: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.row:not(:last-child) {
  margin-bottom: 5px;
}

.key {
  height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-color: #303030 #303030 #030303;
  border-style: solid;
  border-width: 1px 2px 3.5px 2px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.key:hover {
  background-color: #4c4b4b;
}
.key:active {
  -webkit-transform: translateY(2px) scale(0.98);
          transform: translateY(2px) scale(0.98);
  border-bottom-width: 2px;
}

.modifier-key {
  font-size: 14px;
}

.backspace,
.enter,
.shift,
.space {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tab {
  width: 70px;
}

.caps-lock {
  width: 90px;
}

.ctrl {
  width: 60px;
}

.arrow {
  width: 0;
  height: 0;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 7px 13px;
}

.arrow-left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.arrow-bottom {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.info {
  text-align: center;
  margin-top: 20px;
}
.info p:first-child {
  margin-bottom: 15px;
}